$font-family--global: 'lato', sans-serif;

$color-purple: #CF51CE;
$color-white: #ffff;
$color-black: rgba(51, 26, 47, 0.9);
$color-elem-black: rgba(51, 26, 47, 0.5);
$color-text-header: #331A2F;
$color-breadcrumbs: rgba(51, 26, 47, 0.5);

$color-text-title: #331A2F;
$color-text-desc: rgba(51, 26, 47, 0.8);

$color-gradient: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);



$screen-table: 768px;
$screen-desktop: 1280px;
$screen-desktop-xl: 1920px;